**/.git* annex.largefiles=nothing
* annex.largefiles=(largerthan=100kb)
*.json annex.largefiles=nothing
*.txt annex.largefiles=nothing
*.mat annex.largefiles=anything
*.h5 annex.largefiles=anything
*.npz annex.largefiles=anything
*.npy annex.largefiles=anything
*.png annex.largefiles=anything
*.mgz annex.largefiles=anything
*.gz annex.largefiles=anything
*.nii annex.largefiles=anything
*.nii.gz annex.largefiles=anything
*.reg annex.largefiles=anything
*.tsv annex.largefiles=anything
*.py annex.largefiles=nothing
*.m annex.largefiles=nothing
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
